:root {
    /* Initialisation des couleurs */
    /*Correction*/
    --color-blue-primary: #2B7DE9;
    --color-blue-opacity-50: #2B7DE950;
    --color-blue-dark: #131B26;
    --color-lightBlue-secondary: #2C3748;
    --color-lightBlue-secondary-opacity-50: #2C374850;
    /*Correction*/
    --background-color-dark: #131B26;
    --lightBlue-secondary-opacity: #2C374850;
    --lightBlue-secondary: #2C3748;
    --danger-color: #BA5A3C;
    --turquoise-color: #4BDBCA;
    --color-primary-button: #2B7DE9;
    --color-primary-button-opacity: #2B7DE950;
    --text-color-primary: #fff;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    /* Initialisation des Polices */
    --font-title: 'Azonix';
    --font-special: 'Azonix';
    --font-default: 'Montserrat';
    /* Taille des textes par default */
    --fontSize-title: 2.5rem;
    --fontsize-subtitle: 1.8rem;
    --fonSize-regular: 14px;
    /* Breakpoint */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    /* Navbar Height */
    --navbar-height: 80px;
}